.masonry {
  column-gap: 1rem;
}
.masonry-item {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
}
.img-fade {
  transition: transform 0.35s ease, filter 0.35s ease;
  transform-origin: center center;
}

.js-center {
  justify-content: center;
}

.itm-center {
  align-items: center;
}
